<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Files</title>
  </head>
  <body>
    <div>
      <% if (folder) { %>
      <h1>Folder: <%= folder.name %></h1>
      <% } %>

      <div>
        <a href="/logout">logout </a>
        <a href="/home"> Go Back </a>
      </div>

      <div>
        <p>File name: <%= file.name %></p>
        <p>Size: <%= file.size %> bytes</p>
        <p>Path: <%= file.path %></p>
        <p>Created: <%= file.createdAt %></p>
      </div>

      <% if (!folder) { %> <% folderId = 0 %> <% } else {folderId = folder.id}
      %>

      <form action="/download/<%= folderId %>/<%= file.id%>" method="post">
        <button type="submit">Download</button>
      </form>

      <form action="/delete/file/<%= file.id%>" method="post">
        <button type="submit">Delete This File</button>
      </form>
    </div>
  </body>
</html>
